.card-columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    margin: 10px;
    width: 300px;
}

.add{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-60%);
}

.form-control{
    resize: none;
}

.navbar{
    background-color: #EAEDED;
    box-shadow: 0px 2px 10px lightgrey;
}
