*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #EAEDED;
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

.nav .icons li .plus{
    width: 35px;
    cursor: pointer;
}

.container{
    max-width: 1880px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo a{
    font-size: 20px;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-decoration: none;
    color: rgb(10,132,255);
    margin-left: 10px;
}

header{
    z-index: 10;
    position: fixed;
    width: 1920px;
    margin: 0 auto;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 3px grey;
    z-index: 6;
}

.header_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav{
    padding: 20px;
    color: white;
}

.nav ul{
    list-style-type: none;
    display: flex;
}

.nav ul li{
    position: relative;
    left: 17px;
}

main{
    flex: 1;
    margin: 0 auto;
    max-width: 180vh;
}

.content{
    z-index: 4;
    margin-top: 85px;
}

.show-content .box{
    width: 300px;
    height: auto;
    text-align: justify;
    box-shadow: 0px 0px .3px grey;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 25px;
    color: rgb(10,132,255);
    margin: 40px;
    cursor: pointer;
    overflow: hidden;
}

.show-content .box h2{
    margin-bottom: 25px;
    text-align: start;
    padding-bottom: 12px;
    border-bottom: .1px solid lightgrey;
}

.show-content .all-boxes{
    display: flex;
    flex-wrap: wrap;
}

.show-content .all-boxes .box p{
    margin-right: 50px;
}

.add-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-75%);
    color: rgb(10,132,255);
}

.add-content h1{
    margin-bottom: 40px;
}

form{
    box-shadow: 0px 0px .3px grey;
    background-color: #f9f9f9;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

form .wish{
    font-size: 15px;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    resize: none;
    height: 150px;
    width: 400px;
    margin-bottom: 20px;
    border: 1px solid lightgrey;
}

form .input{
    margin-bottom: 45px;
    padding: 10px;
    border: 1px solid lightgrey;
}

form .submit{
    padding: 10px 25px;
    background-color: rgb(10,132,255);
    border: none;
    border-radius: 5px;
    color: white;
    outline: none;
    font-size: large;
}

form .submit:hover, form .submit:focus{
    background-color: rgb(0,122,255);
}

.form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-65%);
    margin: 0 auto;
    width: 400px;
}

form .password{
    border: 1px solid lightgrey;
    margin-bottom: 45px;
    padding: 10px;
}

form .checkbox{
    position: relative;
    bottom: 30px;
    right: 13px;
    cursor: pointer;
    width: 40px;
}

form span{
    position: relative;
    bottom: 45px;
    left: 25px;
    color:  rgb(10,132,255);
    cursor: pointer;
    font-weight: 500;
}

.sign-up{
    text-align: center;
    color: rgb(10,132,255);
    margin-bottom: 30px; 
}

@media only screen and (max-width: 1024px) {
    .form{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-55%);
        margin: 0 auto;
        width: 350px;
    }
    header{
        width: 770px;
    }

    .add-content form{
        width: 400px;
        transform: translate(-0%,-20%);
    }

    .add-content h1{
        font-size: 20px;
        z-index: 7;
        position: relative;
        top: 10px;
        left: 40px;

    }

    .add-content .wish{
        margin-top: 50px;
        width: 300px;
    }
}

@media only screen and (max-width: 720px) {
    form{
        padding-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }

    form .input{

        margin-bottom: 15px;
        padding: 5px;
        border: 1px solid lightgrey;
    }

    form .submit{
        padding: 10px 15px;
        background-color: rgb(10,132,255);
        border: none;
        border-radius: 5px;
        color: white;
        outline: none;
        font-size: large;
        margin-bottom: 50px;
    }

    header{
        width: 410px;
    }

    .add-content form{
        width: 370px;
        transform: translate(-0%,-2%);
    }

    .add-content h1{
        font-size: 18px;
        z-index: 7;
        position: relative;
        top: 80px;
        left: 75px;

    }

    .add-content .wish{
        margin-top: 50px;
        width: 280px;
        margin-left: -7px;
        font-size: 13px;
    }

    .add-content select{
        width: 280px;
        margin-left: -7px;
        border: 1px solid lightgrey;
    }

    .all-boxes .box{
        width: 290px;
    }

    .show-content .box{
        width: 300px;
        height: auto;
        text-align: justify;
        box-shadow: 0px 0px .3px grey;
        background-color: #f9f9f9;
        border-radius: 8px;
        padding: 25px;
        color: rgb(10,132,255);
        margin: 55px;
        cursor: pointer;
        overflow: hidden;
    }
}
